body {
     background-color: turquoise;
     text-align: right;
}

ul {
   border: 2px solid red;
   text-align: left;
   font-size: 5em;
}

h1 {
   text-align: left;
}

p {
  font-family: Impact;
  text-align: left;
  border: 10px dotted red;
}